In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="dbuser",
  password="dbpassword",
  database="spaces"

)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000025FBC914310>

In [7]:
mycursor = mydb.cursor()
sql = "INSERT INTO arduinodata (temp, hum, date) VALUES (%s, %s, %s)"
val = (0,0,"ss")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [8]:
import requests

r  = requests.get("http://192.168.1.108:5000/fill:date=00:55:22,temp=24,hum=26")
#rr = requests.get("http://127.0.0.1:5000/fill:date=00:55:26,temp=24,hum=26")
print(r)

<Response [404]>

In [17]:
from mysecrets import mySecrets

ss = mySecrets()
ss.ssid1

'Riccibus'

## Datavisualisation

In [24]:
import pandas as pd
df = pd.read_csv("data.txt",delimiter=",")

In [25]:
df

    temp  hum      date
0      0    0        ss
1      0    0        ss
2      0    0        ss
3      0    0        ss
4      0    0        ss
5      0    0        ss
6      0    0        ss
7      0    0        ss
8      0    0        ss
9      0    0        ss
10     0    0        ss
11     0    0        ss
12     0    0        ss
13     0    0        ss
14     0    0        ss
15     0    0        ss
16     0    0        ss
17     0    0        ss
18     0    0        ss
19     0    0        ss
20     0    0        ss
21     0    0        ss
22     0    0        ss
23     0    0        ss
24     0    0        ss
25     0    0        ss
26     0    0  00:55:22
27     0    0  00:55:22
28    24   26  00:55:22
29     0    0        ss
30    24   26  00:55:26
31    24   26  00:55:26
32    24   26  00:55:26
33    24   26  00:55:22
34    24   26  00:55:22
35    24   26  00:55:26
36    24   26  00:55:26
37    24   26  00:55:26
38    25   25  00:55:55
39    25   25  00:55:55
40    25   25  00:55:55
41    25   25  00:55:55
42    21   21   0:55:55
43    21   21   0:55:55

In [ ]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(host="localhost", database = 'Spaces',user="dbuser", passwd="dbpassword",use_pure=True)
    query = "Select * from arduinodata;"
    result_dataFrame = pd.read_sql(query,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))